[general-settings]
temp-data-directory = ./data/
em-data-format = npy
default-file-name = temp-em-data-2
temp-hash-function = sha256
temp-hash-value = f5e64b522fe9fd46ce9496ed4ab0a166634287429fa65b480ba11f67289da859
figure-sequence_number = 107
default-waveform-file = temp-waveform-graph.png
default-fft-file = temp-fft-graph.png
default-spectrogram-file = temp-spectrogram-graph.png
temp-module-directory = ./temp-modules
module-directory = ./modules

[report-settings]
device = Arduino Leonardo
em-data-file = ./data/1/test-data.npy
hash-function = sha256
hash-value = f5e64b522fe9fd46ce9496ed4ab0a166634287429fa65b480ba11f67289da859
time-stamp = 2020-06-04 13:57:10

