[general-settings]
temp-data-directory = ./data/
em-data-format = npy
default-file-name = temp-em-data-2
temp-hash-function = sha256
temp-hash-value = 8bb262f657fd78dc198b737bee2dd547735253227413a762c6f25e7a360cbea6
figure-sequence_number = 691
default-waveform-file = temp-waveform-graph.png
default-fft-file = temp-fft-graph.png
default-spectrogram-file = temp-spectrogram-graph.png
temp-module-directory = ./temp-modules
module-directory = ./modules

