[general-settings]
temp-data-directory = ./data/
em-data-format = npy
default-file-name = temp-em-data-2
temp-hash-function = sha256
temp-hash-value = 4165a067d5066d95a25e7f3fdcd165cc579d6d5c922d58592f4ae0f2379deecb
figure-sequence_number = 182
default-waveform-file = temp-waveform-graph.png
default-fft-file = temp-fft-graph.png
default-spectrogram-file = temp-spectrogram-graph.png
temp-module-directory = ./temp-modules
module-directory = ./modules

