
.ui-menu {
    width: 200px;
    vertical-align: top;
}

#modules-button {
    width: 60;
}
    
td {
    align-self: auto;
    padding: 10px;
}
  
body {
    background-color:#ccddff;
}
          
#capture-progress {
    visibility: hidden;
}
  
#visualize-data {
    visibility: hidden;
}
  
.ui-progressbar {
    position: relative;
    visibility: visible;
}

.progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}
