[general-settings]
temp-data-directory = ./data/
em-data-format = npy
default-file-name = temp-em-data-2
temp-hash-function = sha256
temp-hash-value = f0b8068012aafa7652e7e3bc77ccabc9d523de8cbf723536449091c8941412da
default-waveform-file = temp-waveform-graph.png
default-fft-file = temp-fft-graph.png
default-spectrogram-file = temp-spectrogram-graph.png

