[general-settings]
temp-data-directory = ./data/
default-file-name = temp-em-data-2
temp-hash-function = sha1
temp-hash-value = e08450ceb9728aeef9d2065e0a189881abb6b3f1
default-waveform-file = temp-waveform-graph.png
default-fft-file = temp-fft-graph.png
default-spectrogram-file = temp-spectrogram-graph.png

