<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="/resources/demos/style.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

      <style>
        .ui-menu {
          width: 200px;
          vertical-align: top;
        }
        #modules-button {
          width: 60;
        }
        td {
          align-self: auto;
        }
        #footer {
          position: fixed;
          bottom: 0; 
          width: 100%;
        }
      </style>

    <title>EMvidence Side-Channel Investigator</title>
    </head>
  
    <body>
    
    <!-- the main toolbar-->
    {% include 'main-toolbar.html' %}

    Analyse data page is here...

    <div id="footer">
    <br/>
    <hr width="100%">
    EMvidence Side-Channel Investigator
    </div>

    </body>
</html>