<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="/resources/demos/style.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

      <style>
        .ui-menu {
          width: 200px;
          vertical-align: top;
        }
        #modules-button {
          width: 60;
        }
        td {
          align-self: auto;
        }
        #footer {
          position: fixed;
          bottom: 0; 
          width: 100%;
        }

        body {
          background-color:#ccddff;
        }
      </style>

      <script>

        $( function() {
          $( "#sdr-device" ).selectmenu(
            {
              width: 200
            }
          );
        } );

        $( function() {
          $( "#sampling-rate" ).selectmenu(
            {
              width: 200
            }
          );
        } );

        $( function() {
          $( "#sampling-duration" ).selectmenu(
            {
              width: 200
            }
          );
        } );

        $( function() {
          $( "#hash-function" ).selectmenu(
            {
              width: 200
            }
          );
        } );

        $( function() {
          $( ".capture-button button" ).button();
          $( ".capture-button button" ).click( function( event ) {
            event.preventDefault();

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                // when received the response, enable the figures (waveform, spectrogram, FFT) below.                
                alert(this.responseText);
              }
            };

            // a form data object
            var formData = new FormData();

            // take the selected SDR device index
            var sdr_choice = document.getElementById("sdr-device");
            var sdr = sdr_choice.options[sdr_choice.selectedIndex].value;
            // append sdr choice to the form data object
            formData.append("sdr", sdr);

            // take the ip address of the ZeroMQ client
            var ip_address = document.getElementById("ip-address").value;
            formData.append("ip_address", ip_address);
 
            // take the port number of the ZeroMQ client
            var port_number = document.getElementById("port-number").value;
            formData.append("port_number", port_number);

            // take the selected sampling rate index
            var sampling_rate = document.getElementById("sampling-rate");
            sampling_rate = sampling_rate.options[sampling_rate.selectedIndex].value;
            // append sampling rate choice to the form data object
            formData.append("sampling_rate", sampling_rate);

            // take the selected sampling duration index
            var sampling_duration = document.getElementById("sampling-duration");
            sampling_duration = sampling_duration.options[sampling_duration.selectedIndex].value;
            // append sampling duration choice to the form data object
            formData.append("sampling_duration", sampling_duration);

            // take the selected hash function index
            var hash_function = document.getElementById("hash-function");
            hash_function = hash_function.options[hash_function.selectedIndex].value;
            // append hash function choice to the form data object
            formData.append("hash_function", hash_function);

            // take the file name
            var file_name = document.getElementById("file-name").value;
            // append file name to the form data object
            formData.append("file_name", file_name);

            // send the AJAX request
            xhttp.open("POST", "/capture-data", true);
            xhttp.send(formData);
          } );
        } );
      </script>





    <title>EMvidence Side-Channel Investigator</title>
    </head>
  
    <body>
    
    <!-- the main toolbar-->
    {% include 'main-toolbar.html' %}

    <div class="capture-settings">
      <h6>Data Capture Settings</h6>
      <form action="/user-authentication" method="POST">
        <fieldset>
        <legend>Data Capture Settings</legend>


        <table>
          <tr>
            <td>
              <label>SDR Device:</label>
              <select id = "sdr-device">
                <option value = "1">RTL-SDR</option>
                <option value = "2" selected="selected">HackRF One</option>
              </select>
            </td>
          </tr>

          <tr>
            <td>ZeroMQ Server IP Address:</td> <td><input type="text" name="ip-address" id="ip-address" maxlength="15" size="15"></td>
            <td>Port Number:</td>  <td><input type="text" name="port-number" id="port-number" maxlength="4" size="4"></td>
          </tr>
          <tr>
            <td>            
              <label>Sampling rate:</label>
                <select id = "sampling-rate">
                  <option value = "4">4 MHz</option>
                  <option value = "8">8 MHz</option>
                  <option value = "10">10 MHz</option>
                  <option value = "20" selected="selected">20 MHz</option>
                </select>
            </td>

            <td>            
              <label>Sampling duration:</label>
                <select id = "sampling-duration">
                  <option value = "10" selected="selected">10 ms</option>
                  <option value = "50">50 ms</option>
                  <option value = "100">100 ms</option>
                  <option value = "200">200 ms</option>
                  <option value = "500">500 ms</option>
                  <option value = "1000">1000 ms</option>
                </select>
            </td>

            <td>            
              <label>Hash function:</label>
                <select id = "hash-function">
                  <option value = "1">MD5</option>
                  <option value = "2">SHA1</option>
                  <option value = "3" selected="selected">SHA256</option>
                </select>
            </td>

            <td>File name:</td> <td><input type="text" name="file-name" id="file-name"></td>
          </tr>

          <tr>
            <td><div class="capture-button"><button>Capture data</button></div></td>
          </tr>

          <!-- <input type="file" id="ctrl" webkitdirectory directory/> -->
  
        </table>

        </fieldset>
      </form>
    </div>

    <div class="visualize-data">
      <fieldset>
        <legend>Captured Data</legend>

          <table>
            <tr>
              <td>
                <fieldset>
                <legend>Waveform</legend>
      
                </fieldset>
              </td>
              <td>
                <fieldset>
                  <legend>FFT</legend>
      
                </fieldset>
              </td>
            </tr>

            <tr>
              <td>
                <fieldset>
                  <legend>Spectrogram</legend>
        
                </fieldset>
              </td>
            </tr>
          </table>

      </fieldset>
    </div>

    <div id="footer">
    <br/>
    <hr width="100%">
    EMvidence Side-Channel Investigator
    </div>

    </body>
</html>