<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="/resources/demos/style.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

      <script>

        $( function() {
          $( "#menu" ).menu();
        } );
      
        $( function() {
          $( ".toolbar" ).controlgroup();

          $( "#logout" ).click( function() {
            var answer = confirm("Do you want to logout?");
            if (answer == true){
              window.location.href = "/";
            } else {
              // do nothing.
            }
          });

          $( "form" ).on( "submit", function( event ) {
            event.preventDefault();
          });
        } );

      </script>


      <style>
        .ui-menu {
          width: 200px;
          vertical-align: top;
        }
        #modules-button {
          width: 60;
        }
        .toolbar {
          font-size: 1em;
          width: 100%;
        }
        td {
          align-self: auto;
        }
        #footer {
          position: fixed;
          bottom: 0; 
          width: 100%;
        }
      </style>

    <title>EMvidence Side-Channel Investigator</title>
    </head>
  
    <body>

    <div id="header">
    <h1>EMvidence Dashboard</h1>
    <div class="toolbar">
      <button id="cases">Cases</button>
      <button id="data">Data</button>
      <select id="modules-button" title="Modules">
        <option selected disabled>Modules</option>
        <option value="blue">Dashboard</option>
        <option value="white">Visualize</option>
        <option value="red">DEMA</option>
        <option value="yellow">Add/Remove Modules</option>
      </select>
      <button id="sdr-devices">SDR Devices</button>
      <button id="help">Help</button>
      <button id="about">About</button>
      <button id="logout">Logout</button>
    </div>
    <br/>
    <hr>
    </div>
    



    <table style="width:100%">
      <tr>
        <td>
          <img src="/plot" alt="my plot">
        </td>
        <td>
          <img src="/plot" alt="my plot">
        </td>
      </tr>
        
      <tr>
        <td>
          <img src="/plot" alt="my plot">
        </td>
        <td>
          <img src="/plot" alt="my plot">
        </td>
      </tr>
    </table>




    <div id="footer">
    <br/>
    <hr width="100%">
    EMvidence Side-Channel Investigator
    </div>

    </body>
</html>