<!DOCTYPE html>

<html>
    <head>
      <style>
        .login-form {
          margin: auto;
          width: 20%;
          border: 3px solid #73AD21;
          padding: 10px; 
        }
      </style>

    <title>EMvidence Side-Channel Investigator</title>
    </head>
  
    <body>
    <h1>EMvidence Side-Channel Investigator</h1>

    <!--Get the user to submit credintials and then redirect to the dashboard-->
  
    <div class="login-form">
    <p>Please login to continue...</p>
    <form action="/user-authentication" method="POST">
      <table>
        <tr>
          <td>User name:</td> <td><input type="text" name="uname"><br></td>
        </tr>
        <tr>
          <td>Password:</td>  <td><input type="password" name="passwd"></td>
        </tr>

        <tr>
          <td></td> <td><input type="submit" value="Login"></td>
        </tr>

      </table>
    </form>
    </div>

</html>