<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="static/js/jquery-ui-1.12.1.custom/jquery-ui.css">
      <script src="static/js/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script> 
      <script src="static/js/jquery-ui-1.12.1.custom/jquery-ui.js"></script>   

      <link rel="stylesheet" href="static/css/dashboard.css">

      <title>EMvidence Side-Channel Investigator</title>
    </head>
  
    <body>
    
    <!-- the main toolbar-->
    {% include 'main-toolbar.html' %}

    <h2>About</h2>


    <p style="width:900px;">
    EMvidence is a free and open-source tool that is intended to assist in the application of
    electromagnetic side-channel analysis (EM-SCA) of IoT devices. EMvidence is currently in
    an early stage and undergoing active development. It requires contributions from interested
    parties as developers and testers.
    </p>

    Visit <a href="https://github.com/asanka-code/EMvidence">EMvidence github repository</a>.
    
    </body>
</html>