<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">


      <link rel="stylesheet" href="static/js/jquery-ui-1.12.1.custom/jquery-ui.css">
      <script src="static/js/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script> 
      <script src="static/js/jquery-ui-1.12.1.custom/jquery-ui.js"></script>      

      <script src="static/js/capture-data.js"></script> 
      <link rel="stylesheet" href="static/css/capture-data.css">
      
    <title>EMvidence Side-Channel Investigator</title>
    </head>
  
    <body>
    
    <!-- the main toolbar-->
    {% include 'main-toolbar.html' %}

    <h2>Capture Data</h2>

    <div class="capture-settings">
      <form action="/user-authentication" method="POST">
        <fieldset>
        <legend>Data Capture Settings</legend>


        <table>
          <tr>
            <td>
              <label>SDR Device:</label>
              <select id = "sdr-device">
                <option value = "cosine">Cosine Generator</option>
                <option value = "rtlsdr">RTL-SDR</option>
                <option value = "hackrf" selected="selected">HackRF One</option>
              </select>
            </td>

            <td>
            Center Frequency:<input type="text" name="center-frequency" id="center-frequency" maxlength="8" size="8">
            <label></label>
              <select id = "center-frequency-scale">
                <option value = "H">Hz</option>
                <option value = "K">KHz</option>
                <option value = "M" selected="selected">MHz</option>
                <option value = "G">GHz</option>
              </select>
            </td>
          </tr>

          <tr>
            <td>            
              <label>Sampling rate:</label>
                <select id = "sampling-rate">
                  <option value = "2000000">2 MHz</option>
                  <option value = "4000000">4 MHz</option>
                  <option value = "8000000">8 MHz</option>
                  <option value = "10000000">10 MHz</option>
                  <option value = "20000000" selected="selected">20 MHz</option>
                </select>
            </td>

            <td>            
              <label>Sampling duration:</label>
                <select id = "sampling-duration">
                  <option value = "1" selected="selected">1 second</option>
                  <option value = "2">2 seconds</option>
                  <option value = "4">4 seconds</option>
                  <option value = "8">8 seconds</option>
                  <option value = "10">10 seconds</option>                  
                  <option value = "30">30 seconds</option>                  
                  <option value = "60">1 minute</option>
                  <option value = "120">2 minutes</option>
                </select>
            </td>
          </tr>

          <tr>
            <td>            
              <label>Hash function:</label>
                <select id = "hash-function">
                  <option value = "md5">MD5</option>
                  <option value = "sha1">SHA1</option>
                  <option value = "sha256" selected="selected">SHA256</option>
                </select>
            </td>

            <td>File name:<input type="text" name="file-name" id="file-name"></td>
          </tr>
  
        </table>

        </fieldset>
      </form>
    </div>

    <table>
      <tr>
        <td><div class="capture-button"><button>Capture data</button></div></td>
      </tr>
    </table>

    <!-- progress bar to indicate the progress of data capture -->
    <div id="progressbar"><div class="progress-label">This content will never be visible.</div></div>


    <div class="visualize-data" id="visualize-data">
      <fieldset>
        <legend>Captured Data</legend>
        <table>
          <tr> <td> <div id="file_name_info" name="file_name_info"></div> </td> </tr>
          <tr> <td id="file_size_info"></td> </tr>
          <tr> <td id="hash_info"></td> </tr> 
        </table>
      </fieldset>

      <iframe src="/captured_data_view" style="border:none;", name="captured-data-view", id="captured-data-view", width="100%", height="100%"></iframe>    
    </div>

    
    <div id="footer">
      <br/>
      <hr width="100%">
      EMvidence Side-Channel Investigator
      <hr width="100%">
    </div>

    </body>
</html>