<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="static/js/jquery-ui-1.12.1.custom/jquery-ui.css">
      <script src="static/js/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script> 
      <script src="static/js/jquery-ui-1.12.1.custom/jquery-ui.js"></script>   

      <link rel="stylesheet" href="static/css/dashboard.css">

    <title>EMvidence Side-Channel Investigator</title>
    </head>
  
    <body>
    
    <!-- the main toolbar-->
    {% include 'main-toolbar.html' %}

    <h2>Dashboard</h2>

    <table style="width:100%">
      <tr>
        <td text-align="center">
          Welcome to EMvidence GUI interface. EMvidence is an open-source tool <br>
          that facilitates EM-SCA inspection of IoT devices.
        </td>
      </tr>
        
      <tr>
        <td>
          <img src="/plot" alt="my plot">
        </td>
      </tr>
    </table>




    <div id="footer">
    <br/>
    <hr width="100%">
    EMvidence Side-Channel Investigator
    <hr width="100%">
    </div>

    </body>
</html>