
<script src="static/js/main-toolbar.js"></script> 
<link rel="stylesheet" href="static/css/main-toolbar.css">

<link rel="shortcut icon" href="static/favicon.ico">

<div id="header">
    
    <!-- <h1> EMvidence Dashboard</h1> -->
    <br/>
    <!-- <hr width="100%"> -->
    <!-- <br/> -->

    <!-- <div align="center"> -->
    <div align="left">
    <!-- <img src="static/img/emvidence-title.png" alt="EMvidence Logo" width="1200px"> -->
    <img src="static/img/logo-with-text.png" alt="EMvidence Logo" width="500px">
    </div>

    <br/>
    <!-- <hr width="100%"> -->

    <div class="toolbar">
      <button id="dashboard">Dashboard</button>
      <!-- <button id="reports">Reports</button> -->
      <button id="data">Upload data</button>
      <button id="capture">Capture data</button>
      <button id="analyse">Analyze data</button>
      <button id="settings">Settings</button>
      <!-- <button id="help">Help</button> -->
      <button id="about">About</button>
      <button id="logout">Logout</button>

      <!--
      <button id="sdr-devices">SDR devices</button>
      <select id="settings" title="Settings">
        <option selected disabled>Dashboard</option>
        <option value="general-settings">General settings</option>
        <option value="add-module">Add a module</option>
        <option value="remove-module">Remove a module</option>
        <option value="white">Visualize</option>
        <option value="red">DEMA</option>
        <option value="yellow">Add/Remove modules</option>
      </select>
      -->
    </div>
    
    <br/>
    <!-- <hr width="100%"> -->
</div>