<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

    <!-- <img src="static/img/emvidence-title.png" alt="logo" width="50"> -->
    <img src="static/img/logo-with-text.png" alt="EMvidence Logo" width="800px"> 

    <h2 style="text-align:center">EMvidence - Analysis Report</h2>
    <p>Report of the electromagnetic side-channel analysis on a target device using EMvidence framework.</p>

    <table>
        <tr>
            <td><b>Analysis Date/Time:</b></td> <td> {{ timestamp }} </td>
        </tr>
        
        <tr>
            <td><b>Device Under Investigation:</b></td> <td> {{ device }} </td>
        </tr>

        <tr>
            <td><b>EM Data File:</b></td> <td> {{ em_data_file }} </td>
        </tr>
            
    </table>

    <table>
        <tr>
            <td><b>Hash Value ({{ hash_function }}):</b></td>
        </tr>
        <tr>
            <td> {{ hash_value }} </td>
        </tr>
    </table>
    
    <p><b>Analysis Results:</b></p>

    <hr/>

    {{ module_results }}

    <!-- <img src="static/img/affiliation-logos.png" alt="logo" width="10"> -->

</body>
</html>
