<!doctype html>
{% load static %}
{% load signals_extras %}

<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>RF Database | {% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
</head>
<body>

<!-- Start Top Bar -->
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text"><a href= '/signals/'>RF Forensics Database</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="#">Help</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </div>
</div>
<!-- End Top Bar -->

<div class="callout large primary">
    <div class="row column text-center">
        <h1>{% block header %}{% endblock header %}</h1>
    </div>
</div>

<div class="row" id="content">
    <div class="medium-8 columns">


        {% block content %}{% endblock content %}

    </div>
    <div class="medium-3 columns" data-sticky-container>
        <div class="sticky" data-sticky data-anchor="content">
            <h4>Categories</h4>
            <ul>
                {% for tag in "All"|get_tags %}
                    <li><a href="#">{{ tag }}</a></li>
                {% endfor %}
            </ul>

            <h4>Investigators</h4>

            {% for user in "All"|get_users %}
                <li><a href="#">{{ user }}</a></li>
            {% endfor %}


            </ul>
        </div>
    </div>
</div>


{#    <div class="row column">#}
{#      <ul class="pagination" role="navigation" aria-label="Pagination">#}
{#        <li class="disabled">Previous</li>#}
{#        <li class="current"><span class="show-for-sr">You're on page</span> 1</li>#}
{#        <li><a href="#" aria-label="Page 2">2</a></li>#}
{#        <li><a href="#" aria-label="Page 3">3</a></li>#}
{#        <li><a href="#" aria-label="Page 4">4</a></li>#}
{#        <li class="ellipsis"></li>#}
{#        <li><a href="#" aria-label="Page 12">12</a></li>#}
{#        <li><a href="#" aria-label="Page 13">13</a></li>#}
{#        <li><a href="#" aria-label="Next page">Next</a></li>#}
{#      </ul>#}
{#    </div>#}

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/foundation.js' %}"></script>
<script src="{% static 'js/what-input.js' %}"></script>
<script>
      $(document).foundation();



</script>


</body>
</html>



